.menuBtn {
    -fx-padding: 15 25 15 25;
    -fx-border-radius: 0,0,0,0;
    -fx-background-radius: 0,0,0,0;
    -fx-background-color: transparent;
    -fx-text-fill: #bfbfbf;
    -fx-background-size: 0,0;
    -fx-border-width: 0;
    -fx-border-style: none;
}

.menuBtn:hover {
    -fx-background-color: #3f63b8;
    -fx-border-radius: 0,0,0,0;
    -fx-background-radius: 0,0,0,0;
    -fx-background-insets: 0;
}

.menuBtn:pressed {
    -fx-background-color: #353b81;
    -fx-border-radius: 0,0,0,0;
    -fx-background-radius: 0,0,0,0;
}


.menuBtn:focused {
     -fx-background-color: #0f8114;
}

.menuBtn:focused:hover {
    -fx-background-color: #0fa015;

}

.table-view {
    -fx-background-color: #353B81;
    -fx-table-cell-border-color: transparent;
}

.table-view:focused {
    /*fixes the table selection glow*/
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0, 0, 0;
}

.table-view .table-cell {
    -fx-font-size: 12;
    -fx-font-family: Monospaced;
    -fx-text-fill: #dbdbdb;
    /*-fx-border-color: transparent;*/
    -fx-background-color: transparent;
    -fx-table-cell-border-color:transparent;
}

.table-view .table-row-cell {
    -fx-cell-size: 18px;
    -fx-border-width: 0;
    -fx-background-color: transparent;
}
.table-view .table-row-cell:odd {
    -fx-cell-size: 18px;
    -fx-border-width: 0;
    -fx-background-color: #373d94;
}

/*.table-view .table-row-cell:filled:selected {*/
    /*-fx-background: -fx-control-inner-background ;*/
    /*-fx-background-color: -fx-table-cell-border-color, -fx-background ;*/
    /*-fx-background-insets: 0, 0 0 0 0 ;*/
    /*-fx-table-cell-border-color: derive(-fx-color, 5%);*/
/*/*/
.table-view .table-row-cell:odd:filled:selected {
    -fx-background: -fx-control-inner-background-alt ;

}

